{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm sticky-top py-1">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}" id="headerLogo">
        <img src="{% static 'imgs/logo.png' %}" alt="Logo thi đua - khen thưởng Anh Sơn" class="img-fluid" width="200px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            {% url 'index' as index %}
            <a class="nav-link fs-5 fw-semibold {% if request.path == index %}active-red{% endif %}" aria-current="page" href="{% url 'index' %}">TRANG CHỦ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-semibold  {% if '/category/1' in request.path %}active-red{% endif %}" href="{% url 'category' category_id=1 %}">VĂN BẢN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-semibold" href="#">THI ĐUA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-semibold" href="#">KHEN THƯỞNG</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-outline-secondary rounded-pill ms-0 ms-sm-5" href="#"><i class="bi bi-box-arrow-in-right me-2"></i>Đăng nhập</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
