{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row mt-5 justify-content-center pb-5">
    <div class="col-lg-1 text-center ">
      {% include 'include/left_info.html' %}
    </div>
    <div class="col-lg-7 ">
      <form method="post" action="#" id="printJS-form">
        {% if post.cover %}
      <img src="{{post.cover.url}}" alt="" class="img-fluid mb-4 rounded-3 shadow-sm">

        {% endif %}
      <h1>{{ post.title }}</h1>
        {% include 'include/post_info.html' %}
      <div class="fs-5 border-top pt-2 mt-3 mb-5">
        <div class="d-flex justify-content-end"> 
          <span class="text-muted fst-italic small">
            <i class="bi bi-hourglass-top me-2"></i>Thời gian đọc: <span id="time"></span> phút
          </span>
        </div>
        <article id="article">
          {% autoescape off %}
          {{ post.content }}
          {% endautoescape %}
      </article>
      </div>
    </form>

    </div>
    <div class="col-lg-4" >
      <div style="position: sticky;
      top: 100px;">
        {% with author=post.author %}
        {% include 'include/author.html' %}
        {% endwith %}
        <h4 class="pb-2 mb-3 mt-4 border-bottom border-2 border-danger">Bài viết mới</h4>
        {% for i in '12345' %}
        <div class="row g-2my-1 pb-2 ">
          <div class="col-3">
            <img
              src="https://images.unsplash.com/photo-1598214886806-c87b84b7078b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80"
              alt="" class="img-fluid rounded shadow-sm border">
          </div>
          <div class="col-9">
            <h6 class="mb-0 fw-normal">Tên bài viết  dolor sit amet consectetur adipisicing elit. Ius</h6>
          </div>
          
          {% if not forloop.last %}
          <div class="col-12"><hr></div>
          {% endif %} 
     
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    const postDiv = document.getElementById('article')
    const imgs = postDiv.querySelectorAll("img");
    for (let i = 0; i < imgs.length; i++) {
      imgs[i].style = '';
      imgs[i].className = 'img-fluid rounded-3 shadow-sm  my-2';
    }
  };
  function readingTime() {
  const text = document.getElementById("article").innerText;
  const wpm = 225;
  const words = text.trim().split(/\s+/).length;
  const time = Math.ceil(words / wpm);
  document.getElementById("time").innerText = time;
}
readingTime();


</script>
{% endblock %}