{% load static %}
{% load humanize %}
<div class="card card-cover h-100 overflow-hidden  shadow-sm border"
style="background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url('https://img.youtube.com/vi/{{ video.youtube_id }}/hqdefault.jpg'); background-size: cover; " >
  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

    <h3 class="my-5  lh-1 fw-bold"><a href="{% url 'video' video_id=video.id %}" class="stretched-link text-decoration-none link-light">{{ video.title }}</a> </h3>
    <ul class="d-flex list-unstyled mt-auto">
      <li class="me-3">
        <img src="
        {% if video.author.avatar %}
        {{ video.author.avatar.url }}
        {% else %}
        {% static 'imgs/logo-circle.png' %}
        {% endif %}
        " alt="avatar" width="50" height="50" class="rounded-circle border border-white">
      </li>
      <li class="d-flex align-items-start flex-column">
          <div><small>{{ video.author.name }}</small></div>
          <div><small class="fst-italic">{{ video.created_time|naturaltime }}</small></div>
      </li>
    </ul>
  </div>
</div>