{% load static %}
<section class="bg-body-tertiary">
    <div class=" container py-5">
        <div class="row mb-2 mb-lg-5 justify-content-center">
            <div class="col-12 text-center">
                <h3 class="mb-2 thaytroviet" style="font-family: 'Dancing Script', cursive;">Góc nhìn "Anh Sơn"</h3>
                <img src="{% static 'imgs/line.png' %}" alt="" class="img-fluid mt-4" style="max-width: 200px">
                <i class="fas fa-feather-alt mb-3" style="font-size:40px"></i>
            </div>
        </div>
        <div class="row  mb-0 mb-lg-5 justify-content-center">
            <div class="col-lg-2 ">
                <!-- tác giả hiện trên máy tính -->
                <div class="d-none d-lg-block">
                    <div class="card bg-body-tertiary text-center tacgia mb-3">
                        {% if home_post2.author.avatar %}
                        <img src="{{home_post2.author.avatar.url}}" class="card-img-top rounded-circle  px-5"
                            alt="{{home_post2.author.name}}">
                        {% else %}
                        <img src="{% static 'imgs/logo-circle.png' %}" class="card-img-top rounded-circle  px-5"
                            alt="{{home_post2.author.name}}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title m-0">{{home_post2.author.name}}</h5> <small>
                                <span class="text-muted">{{home_post2.author.description}}</span>
                            </small>
                            <hr class="m-1">
                            <p class="card-text">
                                <small>
                                    <a href="#"
                                        class="link-dark text-decoration-none">{{home_post2.author.post_set.all|length}}
                                        bài viết</a> - <span class="text-muted">{{ author_liked }} lượt thích</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end tác giả hiện trên máy tính -->
            </div>
            <div class="col-lg-7 mr-2">
                <div class="card bg-body-tertiary p-0 border-0 ">
                    <div class="card-body p-0 pt-3">
                        <h3 class="card-title fontthaytroviet" style="font-weight: bold;">{{ home_post2.title }}</h3>
                        <small class="text-muted">Đăng {{ home_post2.created_time }}</small>
                        <hr class="d-lg-none">
                        <!-- tác giả hiện trên mobile -->
                        <div class="d-lg-none">
                            <div class="card  bg-body-tertiary  mb-3 border-0 mt-2">
                                <div class="row align-items-center g-1">
                                    <div class="col-3 text-center">
                                        {% if home_post2.author.avatar %}
                                        <img src="{{home_post2.author.avatar.url}}" class="card-img rounded-circle p-2"
                                            alt="{{home_post2.author.name}}">
                                        {% else %}
                                        <img src="{% static 'imgs/logo-circle.png' %}" class="card-img rounded-circle"
                                            alt="{{home_post2.author.name}}">
                                        {% endif %}
                                    </div>
                                    <div class="col-9">
                                        <div class="card-body">
                                            <p class="card-text m-0">{{home_post2.author.name}} </p>
                                            <p class="m-0"><small><span
                                                        class="text-muted">{{home_post2.author.description}}</span></small>
                                            </p>
                                            <small>
                                                <a href="#"
                                                    class="link-dark text-decoration-none">{{home_post2.author.post_set.all|length}}
                                                    bài viết</a> - <span class="text-muted">{{ author_liked }} lượt
                                                    thích</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tác giả hiện trên mobile -->
                        <div class="card-text mt-4 fontthaytroviet" style=" font-size:18px">
                            <article id="article1">
                                {{ home_post2.content|safe|truncatewords:120 }}
                            </article>
                        </div>
                        <div class="d-lg-none">
                            <div class="row mt-4">
                                <div class="col  p-0 d-flex justify-content-center border-right"><i
                                        class="bi bi-heart  me-2"></i>
                                    <span>{{ home_post2.like }}</span>
                                </div>
                                <div class="col p-0  d-flex justify-content-center border-right"><i
                                        class="bi bi-chat-left  me-2"></i>
                                    <span>{{ home_post2.comment_set.all|length }}</span>
                                </div>
                                <div class="col  p-0 d-flex justify-content-center"><i class="bi bi-eye me-2"></i>
                                    <span>{{ home_post2.view_count }}</span></div>
                            </div>
                            <hr>
                        </div>
                        <p class="text-end my-3"> <a href="{% url 'post' post_id=home_post2.id %}"
                                class="text-decoration-none">Đọc tiếp<i class="bi bi-arrow-right ms-1"></i></a> </p>
                    </div>
                </div>
            </div>
            <div class="col-1 text-center text-secondary ms-5 d-none d-lg-block">
                <p><i class="bi bi-heart text-dark font25"></i>
                    <br>{{ home_post2.like }}
                </p>
                <p>
                    <i class="bi bi-chat-left text-dark font25 mt-3"></i>
                    <br>{{ home_post2.comment_set.all|length }}
                </p>
                <p><i class="bi bi-eye text-dark font25 mt-3"></i>
                    <br>{{ home_post2.view_count }}
                </p>
            </div>
        </div>
    </div>
</section>